*{
    margin:0;
    padding:0;
    font-family: sans-serif ;
   
}
body{
     background-image : url(images/g.jpg); 
    background-size:cover;
    background-repeat : repeat;
    height:100vh;
   
    color: rgb(50, 50, 50);
    /* background:linear-gradient(
        to right,
        gray 0%,
        gray 50%,
        black 50%,
        black 100%
    ); */
}
.box_now{

    border :1px solid black ;
    margin-right:35%;
    margin-left : 35% ;
    margin-top:15%;
    border-radius: 30px;
    backdrop-filter: blur(2px);
    background:transparent; 
    padding-bottom:40px;  
    padding-right:20px;
}
.box_now h2{
    margin-left: 120px ;
    margin-top: 30px ;
    margin-bottom: 40px ;
}
.box_now a{
    text-decoration: none;
    
}
.box_login{
    border :1px solid black ;
    margin-right:35%;
    margin-left : 35% ;
    margin-top:10%;
    border-radius: 30px;
    backdrop-filter: blur(2px);
    background:transparent; 
    padding-bottom:0px;  
    padding-right:20px;

}

.box_signup{
    border :1px solid black ;
    margin-right:35%;
    margin-left : 35% ;
    margin-top:5%;
    border-radius: 30px;
    backdrop-filter: blur(2px);  
    background:transparent; 
    padding-bottom:0px;  
    padding-right:20px;
}
.el{
    margin-top:50px;   
    padding-left:20px ;
    padding-right:20px;
}
.el input{
    position:relative;
    width:100%;
    border: none;
    color:black; 
    border-bottom: 1px solid black;
    background: transparent ; 
    outline : none;
    margin-bottom:10px ;
}
.el label{
    position:absolute;
}
.log{
    text-align: center;     
    padding-top:20px;
}
.sign{
   padding-bottom:30px;
    text-align: center;
   margin-top:10px;

}
.sign a{
    color: rgb(69, 51, 51);
    text-decoration: none;
    font-weight: bold;
}
nav{
    width: 80%;
    position: sticky;

    
    margin: 50px auto ;         
    z-index: 1;
    display:flex;
    align-items: center; 
    font-weight: bold ; 
    font-size: large;

}
.navlinks{
    flex: 1; 
    text-align: right ;
}
.navlinks ul li{
    list-style: none ;
    display: inline-block;
    margin: 0 20px;
}
.navlinks ul li :hover {
    text-decoration: underline 3px gray;
}
.navlinks ul li a{
    color: rgb(70, 70, 70);
    text-decoration: none;
}
.navlinks input{
    background-color: rgba(81, 81, 81, 0.39);
    border:1px solid black;
    border-radius: 10px ;
    height:20px ; 
    
    margin-left: 10px ;

       
}
.navlinks button{
    background-color: rgb(105, 105, 105) ;
    border:1px solid black;
    border-radius: 10px ;
    padding: 2px 10px ;
    margin-right:60px ;
    
    
}
.ff{
    display:inline-block;
}
.logo{
    flex-basis:20%; 
  
}

#btnlog{
    margin-top: 30px;
    margin-left:35%;
    width: 30%;
    border: none;
    border-radius: 10px;
    background-color: darkgray  ;
    padding: 14px 28px;  
    margin-bottom:30px ;
    font-weight: bold ;
    color:rgb(78, 78, 78);
}
#btnlog:hover {
    background-color: gray;
}
#btnsig{
    background-color: darkgray;
    border: none;
    padding: 14px 50px ;
    border-radius: 10px;
    margin-top: 20px ;
    margin-bottom: 20px     ;
    margin-left: 33%;
    font-weight: bold ;
    color:rgb(78, 78, 78);
}
#btnsig:hover {
    background-color: gray;
}

.con{
    display:flex;
    position:relative;
    border:2px solid rgba(103, 103, 103, 0.616); 
    border-radius: 10px ;
    background-color: rgba(0, 0, 0, 0.279);   
    box-shadow: -5px -5px 10px rgb(83, 82, 82) ;
    margin-left: 10% ;
    margin-right: 10% ;
    margin-top: 90px ;
    padding: 40px ;
    padding-left: 0px;
    
    overflow: hidden;
 
}
.topic{
    border-radius: 10px ;
    position: sticky; 
    display:inline-block;
    overflow : hidden;
    margin-left: 50px ;
    white-space: nowrap;
     
    
    
}
.topic img{
    width: 200px ;
    border-radius: 10px ;
    background : linear-gradient(to left, #595959, #000000);   
    
    height: 50vh;
    
}
.topics{
    margin-left: 00px ;
    white-space: nowrap;
    transition: all 0.5s ease;  
    
    
    display:inline-block;
    
    
    
    z-index: 2;
    width:65%; 
    
}

.top{
    display : inline-block;
    background-color: #727272;
    border-radius: 10px ;
    padding:30px ;
    padding-left: 50px ;
    width:35% ; 
    z-index: 3;
}
.ar{
    width:80px ;
    margin-top: 30px ;
   
}
.al{
    width:80px ;
    margin-left:50px ;
}



.card{
    width:100%;
    height: 100%;
    top: 0 ; 
    right:-100%;
    position:absolute;
    backdrop-filter: blur(3px);
    background-color: rgba(78, 78, 78, 0.586);
    border-radius: 10px ;
    transition: all 0.5s ease; 
    
}
.topic:hover .card{
    right:0;
}

.cardtil{
    text-align: center ;
    font-weight: bold ;
    margin-top: 40px ;
    color: rgb(0, 0, 0);

}
.cardtext{
    margin-left:20px ;
    margin-top:50px ;
    font-family: sans-serif ;
    color: rgb(0, 0, 0);
    font-weight: bold ;
}
.a a{
    color: rgb(0, 0, 0);}   
.a{
    text-align: center;
    margin-top:50px ;
}

.toptext{
    margin-top:20px ;
    margin-bottom: 10px ;
    color:black;
}
.toptitle{
    margin-top:0px ;
    margin-bottom: 0px ;
    color:black;
}
.con2{
    padding-left: 100px;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.hb{
    width:50px ;
    border-radius: 450px ;
    position:relative ;
    display:none ;
}
.header{
    text-align: center ;
}

.art{

    background-color: rgba(110, 109, 109, 0.559);
    margin-top: 30px;
    padding:5px ;
    margin-left: 20%;
    width:60%;
    display: flex;
    padding-right: 0px ;
    padding-bottom: 10px ;
    
    border-radius: 20px ;
    border: 2px solid rgb(55, 55, 55) ;
    
    
}
.art.show{
    background-color: rgba(110, 109, 109, 0.559);
    margin-top: 30px;
    padding:5px ;
    margin-left: 10%;
    width:60%;
    display: flex;
    padding-right: 0px ;
    padding-bottom: 10px ;
    
    border-radius: 20px ;
    border: 2px solid rgb(55, 55, 55) ;

}
.art img{
    width:30% ;
    margin-left: 20px ; 
    margin-top: 10px ;
    display:inline-block ;
    border-radius: 30px;
    flex-shrink: 0;
}
.artext{
    
    display:inline-block;
    width:70%;
    margin-top: 10px ;
    margin-left: 20px ;
    margin-right: 0px ;
    padding-right: 0px ;
    flex-shrink: 0;
   
    color:rgb(59, 59, 59);
}
.artcom{
    display:flex;
    
}
.comment{
    display:none;
}
.comment.show{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width:25%;
    background-color: rgba(103, 103, 103, 0.559);
    border-radius: 20px ;
    margin-bottom: 0px ;
    margin-top: 30px;   
    border: 2px solid rgb(55, 55, 55) ;

}
.sc{
    width:100%;
    height:250px ;
    overflow:hidden;
    overflow-y: scroll;
}

.comment.show textarea{
    
    margin-left: 50px ;
    margin-top: 20px ;
    height: 40px ;
    width:200px ;
    border:1px solid black ;
    border-radius: 10px ;
    background-color: rgba(83, 83, 83, 0.262);
    resize: none;
}
.comment.show button{
    background-color: gray;
    margin-left: 10px ;
    margin-top: 20px ;
    margin-bottom: 10px ;

    display: inline-block;
    border-radius: 10px ;
    border:1px solid black ;
    padding:12px 20px ;
}
.comment.show button:hover {
    background-color: rgb(73, 73, 73);

}
.com{
    position:relative ;
    margin-left: 20px ;
    margin-top: 10px ;
}
.cc img{
    width:50px ;


    
}
.cc.show img{
    width:50px ;
    
    
}

.artext h2{
    margin-bottom: 20px ;
}
.mb img{
    width:500px ;
    display:inline-block;
    
    top:190px ;
    left:900px ;
    z-index: -1;
}   
.contact{
    background-color: rgba(110, 109, 109, 0.559);
    padding:100px ;
    margin-top: 30px ;
    border: 2px solid rgb(55, 55, 55) ;
}
#ad{
    background-color: darkgray;
    border: none;
    padding: 14px 50px ;
    font-weight: bold ;
    color:rgb(78, 78, 78);
    border-radius: 20px ;
    margin-top: 10px    ;

}

#ad:hover {
    background-color: gray;
}
.adart{
    border:2px solid rgb(0, 0, 0);
    border-radius: 20px;
    backdrop-filter: blur(1px );
    background-color: rgba(66, 66, 66, 0.419);
    display:flex ;
    margin-left:40%;
    margin-right:20%;
    margin-top: 10%;
    padding-bottom: 30px ;
    display:block;    
    
}
.adart h2{
   text-align: center ;
   margin-bottom: 40px;
   margin-top: 30px ;
}
.adart a{
    border:2px solid black ;
    border-radius: 10px ;
    padding:10px 20px ;
    margin-left: 80px;
    background-color: rgb(67, 67, 67);
    text-decoration:none ;
    color:black
    
}

.ela{
    margin-left: 50px ;
    margin-top: 20px ;
}
.ela select{
    background:none ;
    width:500px ;
    background :rgb(97, 97, 97);
    border-radius: 10px; 
    height: 30px ;
    border:2px solid black;
    

}

.ela textarea{
    background:none ;
    width:500px ;
    background :rgb(97, 97, 97);
    border-radius: 10px; 
    resize:none;
    border:2px solid black;
}
.ela input{
    background:none ;
    border:none;
    width:500px ;
    height: 30px ;
    background :rgb(97, 97, 97);
    border-radius: 10px; 
    border:2px solid black;
}
#aj{
    border:2px solid black ;
    border-radius: 10px ;
    padding:10px 20px ;
    margin-left: 80px;
    background-color: rgb(67, 67, 67);
    text-decoration:none ;
    color:black;
    margin-top: 20px ;
    margin-left: 260px ;
    
}
#aj:hover{
    background-color: rgb(108, 108, 108);
    border:2px solid black;
}
#dl{   
    margin-top: 30px;
    margin-left:50%;
    width: 30%;
    border: none;
    border-radius: 10px;
    background-color: rgb(143, 143, 143)  ;
    padding: 10px 20px;  
    margin-bottom:10px ;
    font-weight: bold ;
    color:rgb(78, 78, 78);
}
#dl:hover{
    background-color: rgb(108, 108, 108);
    border:2px solid black;
}
#text_article{
    
    height:30vh;
    
}
#picture_article{
    
    background :rgb(97, 97, 97);
    height: 20px ;
}
.slidbar{
    position:fixed;
    left:0;
    top:0;
    width:250px ;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.419);
    border:2px solid black;
    border-radius: 10px ;
    
   

    
    
    
}
.slidbar h2{

    text-align: center ;
    line-height: 80px;
    font-size: 35px;
    color:rgb(0, 0, 0);


    
}
.slidbar ul a{

    height: 100%;
    line-height: 70px ;
    font-size: 25px;
    text-decoration: none;
    box-sizing: border-box;
    color:rgb(165, 165, 165);
    margin-left: 20px ;
   
    
}
.slidbar ul a:hover{
    color:whitesmoke;
    text-decoration: underline ;
}

.search input{
    background-color: rgba(81, 81, 81, 0.39);
    border:1px solid black;
    border-radius: 10px ;
    height:20px ;
    margin-top: 30px ;
    margin-left: 30px ;

    
}
.search button{
    background-color: rgb(105, 105, 105) ;
    border:1px solid black;
    border-radius: 10px ;
    padding: 2px 10px ;
    margin-top: 30px ;
    
    
}

.search{
    margin-left: 160px ; 
    margin-top: 30px ;
}
.tab{
    display:block;
    margin-top: 150px ;
    margin-left: 500px ;
    border:2px solid black;
    margin-right: 300px ;
    padding-bottom: 20px;
    border-radius: 10px ;
    background-color: rgba(66, 66, 66, 0.381);
    backdrop-filter: blur(1px );
}
.tab ul{
    border-bottom: 2px solid black;
    width:100%;
}
.tab li{
    display:inline-block;
    margin: 0 60px ;
    margin-top: 30px ;
    margin-bottom: 20px;
    
}
.info{
    display:flex;
    width:100%;
    margin-top: 20px ;
}
.info p{
    margin-left: 60px ;
    margin-top: 5px ;
}
.info button{
    margin-left: 40px ;
}
.but{
    margin-left: 70px;
}
.but .bn{
    background-color: red;
    padding: 5px 20px  ;
    border:1px solid black ; 
    border-radius: 10px ;
    
}
.but .ad{
    background-color: green;
    padding:5px 20px;
    border:1px solid black ; 
    border-radius: 10px ;
}
.infos{
    overflow:hidden;
    overflow-y: scroll;
    height: 40vh;
}
.rmv{
    background-color: red;
    padding: 5px 20px  ;
    border:1px solid black ; 
    border-radius: 10px ;
    
    
}














@media screen and (max-width : 1450px ){
    .con{
        margin-right: 6% ;
        margin-left: 6% ;
    }
    .ar{
        width:60px ;
        
       
    }
    .al{
        width:60px ;
        
    }
    

}
@media screen and (max-width : 1300px ){
    
    .con{
        margin-left:17% ;
        margin-right: 17%;
    }
    .topics{
        margin-top: 0px ;
        
    }
    .navlinks button{
        margin-right: 0px;
    }
    .art{
        width:80%;
        margin-left: 10%;

    }
    .art.show{
        margin-left: 5%;
    }
    .comment.show{
        margin-right: 0px ;
        width:30%;

        
    }

}
@media screen and (max-width : 1200px ){
    .con{
        margin-left: 15%;
        margin-right: 15%;
    }
    
}











@media screen and (max-width : 1100px ){
    .box_login{
        border :1px solid black ;
        margin-right:30%;
        margin-left : 30% ;
        margin-top:10%;
        border-radius: 30px;
        backdrop-filter: blur(2px);
        background:transparent; 
        padding-bottom:0px;  
        padding-right:20px;
    
    }
    
    .box_signup{
        border :1px solid black ;
        margin-right:30%;
        margin-left : 30% ;
        margin-top:5%;
        border-radius: 30px;
        backdrop-filter: blur(2px);  
        background:transparent; 
        padding-bottom:0px;  
        padding-right:20px;
        
    }
    .con{
        display:block;
        border:2px solid rgba(103, 103, 103, 0.616); 
        border-radius: 10px ;
        background-color: rgba(0, 0, 0, 0.279);   
        box-shadow: -5px -5px 10px rgb(83, 82, 82) ;
        margin-right: 20% ;
        margin-left: 20% ;
        margin-top: 50px ;
        padding: 40px ;
        padding-left: 10px ;
        
        overflow: hidden;
     
    }
    .ar{
        width:60px ;
        
        
        
       
    }
    .al{
        width:60px ;
        margin-left: 180px;
        
    }
    .topics{
    margin-left: 00px ;
    display: block ;
    transition: all 0.5s ease;  
    z-index: 5;
    margin-top: 20px ;
    
   
    
    }

    .top{
    position:relative  ;
    background-color: #727272;
    border-radius: 10px ;
    padding:30px ;
    width:90%;
    
    }
    .navlinks ul li{
        list-style: none ;
        display: inline-block;
        margin: 0 10px;
    }

    
.art{   
    width:70%;
    display: block;  
    margin-left: 15%;
}
.art.show{
    margin-left: 15%;
    width:70%;
    display: block;
}
.art img{
    width:95% ;
    margin-left: 5px   ;
}
.artext{
    width:90%;
    color:rgb(59, 59, 59);
}
.artcom{
    display:block;
}
.comment.show{
    margin-left: 15%;
    width:70%;
    margin-top: 0px ;
   
}
.comment.show textarea{
    margin-left: 150px ;
}
.cc img{
    width:50px ;    
}
.cc.show img{
    width:50px ;    
}


}


@media screen and (max-width : 950px ){
    
    .box_login{
        border :1px solid black ;
        margin-right:25%;
        margin-left : 25% ;
        margin-top:10%;
        border-radius: 30px;
        backdrop-filter: blur(2px);
        background:transparent; 
        padding-bottom:0px;  
        padding-right:20px;
    
    }
    
    .box_signup{
        border :1px solid black ;
        margin-right:25%;
        margin-left : 25% ;
        margin-top:5%;
        border-radius: 30px;
        backdrop-filter: blur(2px);  
        background:transparent; 
        padding-bottom:0px;  
        padding-right:20px;
        
    }

    .al{
        margin-left: 120px ;
    }
    .navlinks ul li{
        list-style: none ;
        display: inline-block;
        
    }

}
@media screen and (max-width : 750px ){
    .box_login{
        border :1px solid black ;
        margin-right: 15%;
        margin-left : 15% ;
        margin-top: 20%;
        border-radius: 30px;
        backdrop-filter: blur(2px);
        background:transparent; 
        padding-bottom:0px;  
        padding-right:0px;
    
    }
    #btnlog{
        margin-left: 100px;
        margin-right: 10px ;
        padding:10px 20px ;
    }
    #btnsig{
        margin-left: 90px;
        padding:10px 30px ;

    }
    
    .box_signup{
        border :1px solid black ;
        margin-right:13%;
        margin-left : 13% ;
        margin-top:13%;
        border-radius: 30px;
        backdrop-filter: blur(2px);  
        background:transparent; 
        padding-bottom:0px;  
        padding-right:20px;
        
    }

    .logo{
        margin-left: 10%;
        margin-top: 30px;
    }
    .hb{
        display: block;
        margin-left: 50%;
        margin-top: 40px ;
        
        
    }
    nav{
        width:100%;
        padding: 0 ; 
        margin:0;
        

    }
    .navlinks{
            margin-left: 100%;
            display: flex;
            position:absolute ;
            width:100%;
            height:100vh ;
            top: 0 ; 
            left:0 ;  
            justify-content: center ;
            
            padding-top: 50%;
            background-color: rgba(90, 89, 89, 0.36);
            backdrop-filter: blur(5px );
            transition: all 0.5s ease;
              
            
    }
    .navlinks.mobile-menu{
        margin-left: 0;
    }
    .navlinks ul{
        display: flex; 
        flex-direction: column;   
        align-items: center;
    }
    .navlinks ul li a{
        color: rgb(200, 200, 200);
        text-decoration: none;
    }
    .navlinks ul li{

        margin:  25px 0;
    }
    .con{
        display:block;
        border:2px solid rgba(103, 103, 103, 0.616); 
        border-radius: 10px ;
        background-color: rgba(0, 0, 0, 0.279);   
        box-shadow: -5px -5px 10px rgb(83, 82, 82) ;
        margin-right: 7% ;
        margin-left: 7% ;
        margin-top: 50px ;
        padding: 40px ;
        padding-left: 10px ;
        
        overflow: hidden;
     
    }
    .ar{
        width:60px ;   
       
    }
    .al{
        width:60px ;
        margin-left: 40px;
        
    }
    .topics{
    margin-left: 00px ;
    display: block ;
    transition: all 0.5s ease;  
    z-index: 5;
    margin-top: 20px ;
    
   
    
    }

    .top{
    position:relative ;
    background-color: #727272;
    border-radius: 10px ;
    padding:30px ;
    width:90%;
    z-index: 0;
    
    }
    .navlinks input{
        background-color: rgb(169, 169, 169);

           
    }
    .navlinks button{
        background-color: rgb(169, 169, 169);

    }
    .header{
        margin-top: 30px;
    }
    .art{   
        width:90%;
        display: block;  
        margin-left: 4%;
    }
    .art.show{
        margin-left: 4%;
        width:90%;
        display: block;
    }
    .comment.show{
        margin-left: 4%;
        width:90%;
        margin-top: 0px ;
       
    }
    .comment.show textarea{
        margin-left: 20px ;
    }
}























